<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <title>VisualizacionDePokemones</title>
</head>

<body>

    <div>
        <h2 id="titleForm"></h2>
        <form id="formulario">            
            <input type="text" name="user" placeholder="usuario" id="usr">
            <br>
            <input type="password" name="password" placeholder="contraseña" id="pass">
            <button type="submit">enviar</button>
        </form>
    </div>
    <script src="../js/js-Form.js"></script>
</body>

</html>