<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>
    <header><div><a href="../index.html">ver todos los pokemones</a></div></header>
    <div>
        <ul >
            <li id="namePokemon"></li>
                
            <div>
                <div>
                    <img src="" alt="" id="imgPokemon">
                </div>
                <ul>
                    <li>habilidades</li>
                    <ul id="habilitiesPokemon">
                        
                    </ul>


                </ul>
            </div>
            

        </ul>

    </div>
    <section></section>
    <script type="module" src="../js/js-Details.js"></script>
</body>

</html>